
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  :root{
    --color--light-blue:#F3F5FC;
    --color--dark-blue: #0A3871;
    --color--whiter:#FFFFFF;
    --color--boton: #D8DFE8;

    --fuente--principal:"Inter", sans-serif;
  }
  
  *{
    font-family:var(--fuente--principal);
    font-weight: 400;
    line-height: 150%;
    background-color: var(--color--light-blue);
    margin: 0;
  }
  .header{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
  }
  .main{
  display: flex;
   margin-bottom: 50px;
   margin-left: 150px;
   margin-right: ;
   font-size: 2rem;
   padding: 0px 40px ;
  }
  .seccion__entrada__textarea{
    border: none;
    color: var(--color--dark-blue);
    margin-top: 168px;
    text-transform: lowercase;
    font-size: 2rem;
  }
  ::placeholder{color: var(--color--dark-blue);}
    .seccion__entrada__textarea:focus{
      outline: none;
    }
 
  .seccion__salida{
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 50rem;
    background-color: var(--color--whiter);
    border-radius: 3.2rem;
    padding: 2rem;
    margin:40px 40px 40px ;
    margin-left: 90px;
    margin-top:40px ;
    margin-right: 40px;

}
  .seccion__salida__contenido.hidden{
   display: none;
  }
  .seccion__salida__img{
    margin-top: 100px;
   justify-items: center;
    width: 100%;
    background-color: var(--color--whiter);
  }
  .seccion__salida__mensaje{
    font-size: 2rem;
    line-height: 1.8rem;
    text-align: center;
    background-color: var(--color--whiter);
    color: #343A40;
    margin: 5px;
  }
  .seccion__salida__contenido{
    width: 100%;
    background-color: var(--color--whiter);
  }
  .seccion__salida__textarea{
    width: 100%;
    height: 50rem;
    text-align: center;
    font-size: 1rem;
    color: #495057;
    border: none;
    background-color: var(--color--whiter);
    resize: none;
    font-family: var(--fuente--principal);
  }
  .seccion__salida__textarea.fullscreen {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    background-color: var(--color--whiter);
    z-index: 10;
  }

 
  .botones{
    display: flex;
    margin-top: 120px;   
  }
  .boton__encriptar,.boton__desencriptar{
    font-size: 1rem;
    width: 328px;
    height: 4.18rem;
    border-radius: 24px;
    cursor: pointer;
      
  }
.boton__encriptar{
  font-family:var(--fuente--principal);
  background-color: var(--color--dark-blue);
  color: var(--color--whiter);
  border: 1px solid var(--color--dark-blue);
  margin-right: 1.2rem;
}
.boton__desencriptar{
  font-family: var(--fuente--principal);
  background-color: var(--color--boton);
  color: var(--color--dark-blue);
  border: 1px solid var(--color--dark-blue);
  margin-right: 0;
}


.boton__copia{
  background-color: var(--color--whiter);
  border: 1px solid var(--color--dark-blue);
  border-radius: 24px;
  font-size: 1rem;
  color: var(--color--dark-blue);
  cursor: pointer;
  width:26.5rem;
  height: 4.18rem;
  padding: 24px;
}
.aviso{
  position: relative;
  top: 100px;
  font-size: 12px;
  color: #495057;
}

.footer{
  font-size: 16px;
  text-align: center;
  margin: 0;

}
@media (max-width: 768px){
  body{
    margin: 2.5rem;
  }
  .header {
    border: none;
}
  .main {
    flex-direction: column;
    padding: 1rem;
    margin: 80px 0;
}

.seccion__entrada, .seccion__salida {
    width: 100%;
    
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

.boton__encriptar,.boton__desencriptar {
  width: 110%;
  height: 67px;
}
 .seccion__salida {
      height: 18rem;
      margin: 2rem 0;
}
.seccion__salida__contenido{
  width: 100%;
  margin: 0 auto;
}
.seccion__salida__mensaje{
  text-align: center;
}
.seccion__salida__img{
display: none;
}
.seccion__salida__textarea{
  min-height: 200px;
  font-size: 16px;
}
.boton__copia{
  width: 100%;
  margin-top: 1px;
}
.footer{
  margin: 10px 0 0 4rem;
  font-size: 16px; 
}
}
@media (max-width: 480px) {
  body{
    margin: 10px;
  }
  .header {
      padding: 0 ;
  
  }

  .main {
    margin: 0%;
    padding: 1rem;
  }

.seccion__entrada__textarea {
      width: 100%;
      font-size: 1.8rem;
  }

  .botones {
      flex-direction: column;
      align-items: stretch;
  }
  .boton__encriptar, .boton__desencriptar {
    width: 110%;
    margin-bottom: 1rem;
  }
  .seccion__salida {
    width: 100%;  
    
  }

  .seccion__salida__textarea {
    width: 100%; 

    font-size: 1rem; 
  
  }
  .seccion__salida__mensaje{
    font-size: 24px;
  }
  .boton__copia {
    width: 100%;
  }
  .footer{
   margin-top: 10px;
    font-size: 16px; 
  }
}
